1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length=int(input("Enter the length"))
breadth=int(input("Enter the breadth"))
if length==breadth:
    print("its square rectangle")
else:
    print("its not square rectangle")

Enter the length5
Enter the breadth5
its square rectangle

2. Take three integer values from the user and print the greatest among them.

In [2]:
firstnumber=int(input("enter your First Number\n"))
secondnumber=int(input("enter your second Number\n"))
trirdnumber=int(input("enter your Third Number\n"))

if firstnumber>secondnumber and firstnumber>trirdnumber:
    print("first number is the greatest number among them")
    
elif secondnumber>firstnumber and secondnumber>trirdnumber:
    print("second number is the greatest number among them") 
    
else:
    print("trirdnumber is the greatest number among them")

enter your First Number
15
enter your second Number
20
enter your Third Number
25
trirdnumber is the greatest number among them

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [3]:
attendance=int(input("enter your attendance"))
if attendance<(75/100):
    print ("you are not allow to sit in the exam")
else : print ("your are allow to sit in the exam ")

enter your attendance88
your are allow to sit in the exam

4. A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade

In [4]:
grade=int(input("Enter your Number\n"))

if grade<25:
    print("Your grade is F\n")
    
elif grade>=25 and grade<=44:
    print("Your grade is E\n") 
    
elif grade>=45 and grade<=49:
    print("Your grade is D\n")
    
elif grade>=50 and grade<=59:
    print("Your grade is C\n")    
    
elif grade>=60 and grade<=79:
    print("Your grade is B\n")
    
elif grade>=80 and grade<=89:
    print("Your grade is A\n")   
    
else:print("Your grade is A+\n")

Enter your Number
89
Your grade is A

5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [5]:
n=8
for i in range (1,5):
    for j in range(1,n):
        print(j,end=" ")
    print()
    n-=1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [52]:
n = 1
 
i = 7
while i >= 4 :
    j = n
    while j <= i:
        print(j, end = " ")
        j += 1
    print()
    i -= 1

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [6]:
n=-100
for i in range(0,91):
    print(n,end=" ")
    n+=1

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [1]:
number=0
for i in range(10,1001):
    if (i%2==1):
        number+=i
print(number)

249975

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [56]:
n=int(input("enter your factorial number!\n"))

fact = 1
for i in range(n,0,-1): 
    print(i,end="")

enter your factorial number!
7
7654321

9. Reverse a given integer number 27956240710

In [9]:
number=27956240710
reverse=0
while number!=0:
    digit=number%10
    reverse=reverse*10+digit
    number//=10
print("reverse number:", reverse)

reverse number: 1704265972

In [60]:
number=27956240710
print(str(number)[::-1])

01704265972

10. Print the following pattern using for and while loop.

###

####

###

##

In [11]:
rows = 5
for i in range(3, rows):
    for j in range(i, 0, -1):
        print('#', end=' ')
    print("")
rows = rows-2
for i in range(rows,1,-1):
    for j in range(i, 0, -1):
        print('#', end=' ')
    print("")

# # #
# # # #
# # #
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [12]:
seris=15
n1=0
n2=1
print('The Fibonacci seris is:\n')
print(n1,',',n2,end=" ")
for i in range(2,seris):
    next=n1+n2
    print(next,end=',')
    n1=n2
    n2=next

The Fibonacci seris is:

0 , 1 1,2,3,5,8,13,21,34,55,89,144,233,377,

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [13]:
Li = [1,3,5, [2,3], True]

Li[3][0]=3
Li[4]=False
print(Li)

[1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [14]:
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

print(S1.intersection(S2))

{True}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [15]:
li=[1,9,3,4,5,200,5]

print(list(set(li)))

[1, 3, 4, 5, 200, 9]

In [16]:
def remove(duplicate):
    finallist=[]
    for i in duplicate:
        if i not in finallist:
            finallist.append(i)
    return finallist   

duplicate=li
print(remove(duplicate))

[1, 9, 3, 4, 5, 200]

In [17]:
newli=[]
for i in li:
    if i not in newli:
        newli.append(i)
print("li=", newli)

li= [1, 9, 3, 4, 5, 200]

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [18]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

Dict["region"]=Dict.pop("country")

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [19]:
li=[10,100,300]
import pandas as pd
df=pd.DataFrame(li,columns=['number'])
df

   number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [20]:
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

Dict["age"]=28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}